:root {
  --primary-color: #720261;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.container {
  width: 976px;
  background-color: white;
}

.left_col {
  width: 38%;
  float: left;
  background-color: #ffd4f9;
}

.right_col {
  width: 50%;
  float: right;
}
.title {
  padding: 12px;
  background-color: var(--primary-color);
  margin: 15px;
}
