:root {
  --primary-color: #720261;
  --secondary-color: #feebfb;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-color);
}

.App {
  text-align: center;
  max-width: 976px;
  margin: 0 auto;
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 5vw;
  line-height: 1.8;
}

h2 {
  font-size: 3vw;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h3 {
  font-size: 3vw;
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin-bottom: 43px;
}

p {
  margin-top: 40px;
  font-weight: normal;
  font-size: 29px;
  line-height: 30px;
}

.row {
  justify-content: center;
}

.container {
  padding: 20px;
  margin: 20px auto !important;
  background-color: white;
}

.head {
  padding: 15px;
}

.title {
  padding: 12px;
  background-color: var(--primary-color);
  margin: 15px;
}

footer {
  text-align: center;
  margin: 60px 0 30px;
}
footer p {
  font-size: 16px;
}

.social_links {
  margin: 40px 0 0;
}

.social_links a {
  margin: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 25px;
  border-radius: 15%;
  padding: 0 0 7px 0;
}

.social_links a:hover {
  color: white;
  background-color: var(--primary-color);
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
}

.slider {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 540px) {
  p {
    margin-top: 10px;
  }
}
