:root {
  --primary-color: #720261;
  --secondary-color: #feebfb;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 78px;
  line-height: 1.8;
}

h2 {
  font-size: 46px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h3 {
  font-size: 40px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin-bottom: 43px;
}

p {
  margin-top: 40px;
  font-weight: normal;
  font-size: 29px;
  line-height: 30px;
}

.App-header {
  background-color: var(--primary-color);
}

.container {
  width: 976px;
  padding: 20px;
  margin: 20px auto;
  background-color: white;
}

img {
  width: 95%;
}

.title {
  padding: 12px;
  background-color: var(--primary-color);
  margin: 15px;
}

footer {
  text-align: center;
  margin: 60px 0 30px;
}
footer p {
  font-size: 16px;
}

.social_links {
  margin: 40px 0 0;
}

.social_links a {
  margin: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 7px 15px 15px 15px;
  font-size: 25px;
  border-radius: 50%;
}

.social_links a:hover {
  color: white;
  background-color: var(--primary-color);
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
}

@media (max-width: 960px) {
  h1,
  h2,
  h1 {
    font-size: 44px;
  }

  .contact-box {
    display: block;
    text-align: center;
    width: 90%;
  }
}
